<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aman.agrawal.bunnysdiary">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginSignUp.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".AppStart.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="Bunny&apos;s Diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginSignUp.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Extras.UserProfile"
            android:configChanges="orientation"
            android:label="My Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CityData.CityActivity"
            android:configChanges="orientation"
            android:label="City"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.MyTrips"
            android:configChanges="orientation"
            android:label="My Trips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.AddExperience"
            android:configChanges="orientation"
            android:label="Add Experience"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".Extras.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".CityData.ShowPlacesList"
            android:configChanges="orientation"
            android:label="Famous In City"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.MyTripsItem"
            android:configChanges="orientation"
            android:label="My Trips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.BucketList"
            android:configChanges="orientation"
            android:label="BucketList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.PlanATrip"
            android:configChanges="orientation"
            android:label="Plan A Trip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.UpcomingTrips"
            android:configChanges="orientation"
            android:label="Upcoming Trips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trips.UpcomingTripsItem"
            android:configChanges="orientation"
            android:label="Upcoming Trips"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginSignUp.ResetPasswordActivity"
            android:configChanges="orientation"
            android:label="Reset Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilities.CheckListActivity"
            android:configChanges="orientation"
            android:label="CheckList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilities.CurrencyConverterActivity"
            android:configChanges="orientation"
            android:label="Currency Converter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utilities.NotesActivity"
            android:configChanges="orientation"
            android:label="Notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppStart.IntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Extras.DevelopersActivity"></activity>
    </application>

</manifest>